body{margin: 0; padding: 0; font-family: sans-serif;} 
div.header{margin: 0; padding: 0; background-color: rgb(255, 255, 255);
    margin-top: -1.4em; height: 10vh; img.plus{background-color: rgb(76, 78, 95); display: block; text-align: center;
    margin-right: auto; margin-left: auto;}
h1{text-align: center;
    vertical-align: middle; transform: translateY(50%);} img.menu{ margin-right: 1.05em; cursor: pointer;
        position: fixed; right: 0;
vertical-align: middle; text-align: right;
transform: translateY(85%);}
div.caption{width: 100%;  background-image: url(11062b_42019dfb241c4d819a98672c3d3e01bb~mv2.jpg); 
    padding-top: 5.325em; padding-bottom: 5.325em;
    margin-top: 2.5em; 
p.big{color:navy; font-weight: bolder; font-size: 2.5em;
padding-left: 5px;  }                                                
p.small{padding-left: 5px;  font-size: 1.2em; 
margin-top: -2em;}}}
img.top{ transform: translateY(-930%);}
img.bottom{transform: translateY(-50%);}
p.down{margin-top: -1.5em;}
div.as{p{text-align: center; color: navy;}
p.bold{font-size: 1.2em; font-weight: bold;}}
 